
src/Makefile
src/Makefile.in

m4/Makefile
m4/Makefile.in

include/config.h
include/Makefile
include/Makefile.in

include/config.h.in

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/config.log
/config.status
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# output
serial-latency-test
