Source: serial-latency-test
Section: utils
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Uploaders: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, automake
Standards-Version: 3.7.3
Homepage: http://github.com/koppi/serial-latency-test

Package: serial-latency-test
Architecture: any
Depends: ${shlibs:Depends}, pciutils (>=1:2.1.11-4), lsb-base (>= 3.0-9)
Description: serial port latency test
 This package contains a command-line utility for measuring serial port latency.
